*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'monteseratt', sans-serif;
}

.app{
    background-image: url('./img/cold-bg.jpeg');
    background-size: cover;
    width: 600px;
    margin: 0 auto;
}
.app.warm{
    background-image: url('./img/warm-bg.jpeg');
}
main{
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.75));
    padding: 25px;
}

.search-box{
    width: 100%;
    margin: 0 0 75px;
}

.search-box .search-bar{
    display: block;
    width: 100%;
    padding: 15px;
    appearance: none;
    border: none;
    outline: none;
    background-color: rgba(255,255,255,0.8);
    border-radius: 0 0 15px 15px;

    position: relative;
    top: -25px;

    box-shadow: 0 5px rgba(0, 0, 0, 0.2);

    color: black;
    font-size: 20px;

    transition: 0.4 ease;
}

.search-box .search-bar:hover{
    background-color: white;
    transition: .3 ease;
    transition-delay: .3s
}

.location-box .location{
    color: white;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date{
    color: white;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box{
    text-align: center;
}

.weather-box .temp{
    position: relative;
    display: inline-block;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 15px 25px;
    color: white;
    font-size: 105px;
    font-weight: 900;
    text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2);
}

.weather-box .weather{
    color: white;
    font-size: 48px;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

@media(max-width:600px) {
    .app{
        margin: 0;
        width: 100%;
    }
}